<?xml version="1.0"?>

<launch>

    <arg name="camera" default="/stereo_forward"/>

    <arg name="bagfile" default="test.bag"/> <!-- Find it on http://srv.uib.es/public/viso2_ros/sample_bagfiles/  -->

    <param name="/use_sim_time" value="true"/>

    <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile)" />

    <node ns="$(arg camera)" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" />

    <node pkg="viso2_cg" type="stereo_odometer" name="stereo_odometer">
        <remap from="stereo" to="$(arg camera)"/>
        <remap from="image" to="image_rect"/>
        <param name="base_link_frame_id" value="$(arg camera)"/>
    </node>

</launch>
